#guestboard_coming_soon img{
	z-index:2;
	width:100%;
	height:100%;
}

/*coming soon*/

#photoWall_layout {
    background-color: white;
    left: 100%;
    top: -100%;
}

#guestboard_layout {
    position: fixed;/*test*/
    background-color:white;
    width: 100%;
    height: 100%;
}

#photoWall_wrapper{
    position: absolute;
    top: 10%;
    left: 5%;
}

.photo_wall {
    position: relative;
    width: 230px;
    float: left;
    margin: 10px;
}

.photo_wall img {
    width: 100%;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


.guestboard_photo_cover {
    width: 100%;
    height: 100%;
    background-color: rgba(67,59,56,0.85);
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.guestboard_photo_cover:hover {
    opacity: 1;
}

.guestboard_photo_uploder p {
    font-family: "Franklin Gothic Demi";
    font-size: 18pt;
    margin-top: 64px;
    text-align: center;
}

#guestboard_tag {
    position: absolute;
    top: 87%;
    z-index: 1;
}

#guestboard_issue_tag img {
    width: 70.08px;
    padding-bottom: 10px;
}

#guestboard_discussion_group img {
    width: 152.16px;
}

