#issue {
    color: gray;
    font-family: "franklin gothic demi";
}

#issue > h1 {
    font-size: 2.1em;
    left: 4%;
    position: absolute;
    top: 6.5%;
}

#issue > h2 {
    position: absolute;
    top: 12%;
    left: 4%;
    font-size: 1.2em;
}

#world_map {
    left: 18%;
    position: absolute;
    top: 22%;
    width: 73%;
    height: 59%;
}

#world_map > img {
    width: 100%;
}

.issue_data {
    position: absolute;
    width: 9.8%;
    width:auto;
    min-width:9.8%;
    height: 23.25%;
    color: white;
    display: none;
}

.issue_data  img.location {
    bottom: 0;
    height: 100%;
    right: 0;
    position: absolute;
}
.issue_data.right img.location {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    right: 6%;
}
.issue_data div.location {
    bottom: 0;
    height: 28.5%;
    position: absolute;
    right: 0;
    width: 0%;
    width: 100%;
    width:auto;
    min-width:100%;
    font-family: "Futura Book";
    overflow: hidden;
}
.issue_data.right div.location {
    left: 0;
}
.issue_data span.location {
    display: block;
    margin: 5% auto 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.issue_data div.number {
    bottom: 28%;
    /*height: 72%;*/
    height: 0%;
    height: 72%;
    position: absolute;
    right: 4.8%;
    width: 90.75%;
    overflow: hidden;
}
.issue_data img.number {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.issue_data span.number {
    color: white;
    font-family: "Futura Book";
    font-size: 2.45em;
    position: absolute;
    z-index: 1;
    width: 100%;
    /*margin: 0 0 0 16%;*/
   text-align: center;
}
.issue_data.bottom div.number {
    top:99%;
}

.issue_text {
    position: absolute;
    width: 35.5%;
    height: 12.5%;
    bottom: 7%;
    left: 7.5%;
}
.issue_text > h1 {
    font-size: 1.22em;
    margin: 0 0 0% 1%;
}
.issue_text p {
    font-family: "Futura Book";
    font-size: 0.8em;
    line-height: 1.2;
    margin: 0 0 0 1%;
    color: black;
}
.issue_logo {
    position: absolute;
    top: -4%;
    left: -9%;
    height: 37%;
}

#issue_search_wrapper {
    /*background-color: black;*/
    height: 30px;
    left: 178px;
    position: fixed;
    top: -100%;
    width: 202px;
}

#issue_search_wrapper > img {
    height: 76%;
    left: 2%;
    position: absolute;
    top: 10%;
}

#issue_search {
    height: 61.8%;
    margin: 0;
    position: absolute;
    /*right: 5%;*/
    left: 13.6%;
    top: 10%;
    width: 35%;
    padding: 0.5%;
    z-index: 10;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
#issue_search:focus {
    width: 77%;
}

#issue > .link_wrapper {
    bottom: 40px;
    height: 60px;
    position: absolute;
    right: 40px;
    width: 130px;
    overflow: hidden;
}
#issue div.link {
    height: 41.67%;
    margin: 0 0 7.7%;
    width: 100%;
    position: relative;
    cursor: pointer;
}

#issue img.link {
    height: 100%;
    left: 0;
    position: absolute;
}

#issue span.link {
    font-size: 0.85em;
    left: 19%;
    position: relative;
    z-index: 1;
    top: 6%;
}

#issue .side_bar {
    box-shadow: -3px 0 7px 2px rgba(195, 195, 195, 0.7);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1;
}
#issue .right_button {
    bottom: 9%;
    left: 20%;
    position: absolute;
    width: 45%;
}
#issue .down_button {
    bottom: 5.6%;
    cursor: pointer;
    left: 12%;
    position: absolute;
    width: 65%;
}

.link {
    color: white;
}

/*map*/
.jqvmap-label {
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}
.jqvmap-zoomin, .jqvmap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #000000;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}
.jqvmap-zoomin {
    top: 10px;
}
.jqvmap-zoomout {
    top: 30px;
}
.jqvmap-region {
    cursor: pointer;
}
.jqvmap-ajax_response {
    width: 100%;
    height: 500px;
}
/*map*/
