#member li{
	list-style-type:none;
}

#member_layout{
	position:absolute;
}

.member_wrapper{
	position:absolute;
	width:660px;
	height:690px;
}

#member{
	position:absolute;
}

#member .orbk{
    width:15px;
    margin-top:4px;
	z-index:-1;
}

#member .member_list_icon{
    width:120px;
}

.member_funcion_list{
	position:absolute;
	width:20.635%;
	height:100%;
	background-color:black;
	left:30px;
}

.member_function_setting{
	position:absolute;
	top:15.57%;
	margin-left:-11%;
}

.member_function_inform{
	position:absolute;
	top:29.57%;
	margin-left:-11%;
}

.member_function_calender{
	position:absolute;
	top:43.57%;
	margin-left:-11%;
}

.member_function_newpost{
	position:absolute;
	top:57.57%;
	margin-left:-11%;
}

.member_function_record{
	position:absolute;
	top:71.57%;
	margin-left:-11%;
}

#member_function_setting_button_selected , #member_function_inform_button_selected,#member_function_calender_button_selected,#member_function_newpost_button_selected,#member_function_record_button_selected{
display:none;
}

.member_function_content{
	position:absolute;
	width:79.37%;
	height:100%;
	background-color:white;
	color: black;
	margin-left:20.635%;
	left:30px;
}

.member_funciton_setting , .member_function_inform , .memer_function_clender , .member_function_newpost , .member_function_record{
	position:absolute;
	width:100%;
	height:100%;
}


.member_record_wrapper{
	position:absolute;
	height:130px;
	width:130px;
	background-color:#EFB81C;
}



#member_record_wrapper p{
	position:absolute;
	color:#979E9F;
	font-size:1.1em;
	top:11%;
	left:8%;
}

#record_join{
	top:16.85%;
	left:7.777%;
}

#record_support{
	top:16.85%;
	left:38%;
}

#record_donate{
	top:16.85%;
	left:68.223%;
}

#record_post{
	top:38.5891%;
	left:7.77%;
}

#record_article{
	top:38.5891%;
	left:38%;
}

#record_reply{
	top:38.5891%;
	left:68.223%;
}

#record_times{
	top:60.33%;
	left:7.77%;
}

.member_record_wrapper span{
	position:absolute;
	font-size:1.1em;
	font-family:"Franklin Gothic Demi";
	color:white;
	top:76%;
	left:30%;
	z-index:2;
}

#record_support span{
	position:absolute;
	left:24%;
}

#record_article span{
	position:absolute;
	left:25%;
}

#record_donate span{
	position:absolute;
	left:25%;
}

.record_sign{
	position:absolute;
	width:23%;
	margin:73% 0 0 72%;
}
.member_record_wrapper span.count{

	top: 20%;
	left: 25%;
	font-size: 3em;
}

