<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Movement</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

		<link rel = "stylesheet" href = "css/movement.css">
        <!--<link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/font.css">
        <link rel = "stylesheet" href = "css/movement.css">
        <link rel = "stylesheet" href = "css/rateit.css">
        <link rel = "stylesheet" href = "css/menu.css">
        <link rel = "stylesheet" href = "css/logo.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/jquery.transit.min.js"></script>
        <script src="js/jquery.mousewheel.js"></script>
        <script src="js/jquery.rateit.min.js"></script>先關掉-->

        <!--<script src="js/main.js"></script>  
        <script src="js/movement.js"></script>
        <script src="js/menu.js"></script>
        <script src="js/logo.js"></script> 先關掉-->
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<div id = "movement_layout" class = "layout">
			<div class = "movement_display_mode">
				<li class = "movement_display_mode time">
					<img src="img/movement/button/mo-ti01.png" class="none_selected"  />
                     <img src="img/movement/button/mo-ti02.png" class="selected"/>
				</li>
				<li class = "movement_display_mode hot">
					<img src="img/movement/button/mo-ho01.png" class="none_selected"  />
                    <img src="img/movement/button/mo-ho02.png" class="selected"/>
				</li>
				<li class = "movement_display_mode new">
					<img src="img/movement/button/mo-ne01.png" class="none_selected"  />
                    <img src="img/movement/button/mo-ne02.png" class="selected"/>
				</li>
				<li class = "movement_display_mode issue">
					<img src="img/movement/button/mo-is01.png" class="none_selected"  />
                    <img src="img/movement/button/mo-is02.png" class="selected"/>
				</li>
			</div>
		</div><!-- movement_layout -->
    </body>
</html>
