/*--Global
-----------------------*/
#movement_layout{
	width:1920px;
	height:1080px;
}

.nav_date{
	font-size:20pt;
	font-family:"georgia";
}

.nav_place img{
	width:15%;
}

.nav_place{
	position:absolute;
	font-family:"franklin gothic demi";
	font-size:14pt;
	height:35px;
}

.nav_place span{
	margin-left:2px;
}

/*--tag bar
-----------------------*/
.movement_display_mode {
	position:absolute;
	width:80%;
	height:120px;
	left:192px;
	list-style:none;
	border-bottom:#B4B4B4 4px solid;
	display:block;
}

.movement_display_mode li{
	float:left;
	overflow: hidden; /* 超過範圍隱藏 */
	white-space: nowrap; /* 不斷行 */
	margin:95px 0 5px 0;
	padding:0;
	height:47px;
}

.display_type {
	position:relative;
	left:80px;
}

.tag_type li {
	width:7%;
}

.tag_type img, .display_type img{
	height:20px;
}

.none_selected {
	display:none;
}
/*tag bar*/


/*--calendar
-----------------------*/
#movement_calender {
    background: transparent;
	top:8%;
    height: 7%;
    margin: 0;
    position: absolute;
    width: 82%;
    left: 5%
}

#movement_month_list {
    font-family: "Futura Oblique";
    font-size: 1.1em;
    font-weight: bold;
    height: 50%;
    list-style: none inside none;
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 100.5%;
}
#movement_month_list .month_list {
    cursor: pointer;
    position: relative;
    width:7%;
    height: 100%;
    margin: 30px 0;
    padding: 0;
}
#movement_month_list .month_list span {
    color: #b5b5b5;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition-duration: 0.7s;
    -moz-transition-duration: 0.7s; /* Firefox 4 */
    -webkit-transition-duration: 0.7s; /* Safari and Chrome */
    -o-transition-duration: 0.7s; /* Opera */
    transition-property: top left;
    -moz-transition-property: top left; /* Firefox 4 */
    -webkit-transition-property: top left; /* Safari and Chrome */
    -o-transition-property: top left; /* Opera */
}
#movement_month_list [month] span, #movement_month_list:hover .selected span {
    color: #b5b5b5;
    top: 0;
    left: 7%;
}
#movement_month_list .selected span, #movement_month_list .month_list:hover[month] span {
    top: -74%;
    left: 7%;
    color: white;
    font-weight: bold;
}
#movement_month_list .month_list:not([month]):hover span {
    top: -74%;
    left: 1.6%;
    color: white;
}

#movement_month_list .month_list .circle, #movement_month_list:hover .selected .circle {
    background-color: white;
    border: 5px solid #00A1E6;
    border-radius: 100% 100% 100% 100%;
    height: 35.7%;
    left: 3%;
    position: absolute;
    top: -70%;
    width: 13.5%;
    transition-duration: 0.7s;
    -moz-transition-duration: 0.7s; /* Firefox 4 */
    -webkit-transition-duration: 0.7s; /* Safari and Chrome */
    -o-transition-duration: 0.7s; /* Opera */
    transition-property: height width top left;
    -moz-transition-property: height width top left; /* Firefox 4 */
    -webkit-transition-property: height width top left; /* Safari and Chrome */
    -o-transition-property: height width top left; /* Opera */
}
#movement_month_list .selected .circle, #movement_month_list .month_list:hover[month] .circle {
    border: 5px solid #00A1E6;
    background-color: #00A1E6;
    height: 107.1%;
    left: 0%;
    top: -101%;
    width: 40.54%;
}
#movement_month_list .month_list:not([month]) .circle {
    background-clip: content-box;
    background-color: #00A1E6;
    border-color: transparent;
    height: 32.1375%;
    left: 0%;
    top: -74%;
    width: 12.375%;
}
#movement_month_list .month_list:not([month]):hover .circle {
    background-clip: border-box;
    background-color: #00A1E6;
    height: 125%;
    left: 1%;
    top: -110%;
    width: 47.3%;
}

/*--list
-----------------------*/
#movement_list{
	position:absolute;
	display:block;
	width:1500px;
	height:800px;
	left:10%;
	top:15%;
}

li.item{
	list-style:none;
	width:350px;
	margin:10px;
	float:left;
}

.item.photo{
	z-index:0;
	position:absolute;
}

.list_nav_wrapper{
	color:white;
	margin-top:-78px;
	z-index:1;
	position:absolute
}

.list_nav{
	height:35px;
	display:block;
	width:350px;
	background-color:black;
}

.list_nav span{
	margin-left:10px;
	margin-top:2px;
}

.list_title{
	font-size:24pt;
	font-family:"franklin gothic demi";
	margin-left:10px;
}

.mask {
    display: block;
    /*display: none;*/
    z-index: 1;
	margin:10px 0 0 10px;
	width:350px;
	height:233px;
    background-color: rgba(0, 0, 0, 0.4);
}

/*--list detail
-----------------------*/
#movement_list_detail{
	position:absolute;
	display:black;
	width:600px;
	height:500px;
	left:250px;
	top:20%;
	list-style:none;
	background-color:rgba(0, 0, 0, 0.8);
	z-index:2;
}

.detail_mask {
	position:absolute;
    display: block;
    display: none;
    z-index: 1;
	width:600px;
	height:500px;
    background-color: rgba(0, 0, 0, 0.8);
	left:250px;
	top:20%;
}

.detail_count{
	position:absolute;
	font-size:27pt;
	font-family:"georgia";
	text-align:right;
}

#detail_button_wrapper{
	z-index:2;
	position:absolute;
	display:block;
	width:160px;
	height:470px;
	position:absolute;
}

#detail_button_border{
	position:absolute;
	border-right:#B4B4B4 4px solid;
	width:160px;
	height:430px;
	margin-top:20px;
}

#detail_button_wrapper li{
	margin-left:20px;
	margin-top:30px;
}

#detail_button_wrapper li img{
	width:28%;
}

#detail_data_wrapper{
	z-index:2;
	position:absolute;
	display:block;
	width:380px;
	height:470px;
	position:absolute;
	left:200px;
	top:20px;
}

#detail_data_wrapper li{
	font-size:12pt;
	margin-top:10px;
}

.detail_data_head{
	font-size:16pt;
	font-family:"franklin gothic demi";
}

.detail_nav_wrapper{
	position:absolute;
	top:423px;
}

.detail_nav{
	position:absolute;
	background-color:#1E1E1E;
	width:600px;
	height:30px;
}

.detail_nav .nav_date{
	margin-left:10px;
}