@font-face {
    font-family: "華康儷黑w3";
    src: url("font/DFLiHeiStd-W3.otf") ;
}
@font-face {
    font-family: "華康儷黑w5";
    src: url("font/DFLiHeiStd-W5.otf") ;
}
@font-face {
    font-family: "華康儷黑w7";
    src: url("font/DFLiHeiStd-W7.otf") ;
}
@font-face {
    font-family: "華康明w12";
    src: url("font/DFMingStd-W12.otf") ;
}
@font-face {
    font-family: "華康明w3";
    src: url("font/DFMingStd-W3.otf") ;
}
@font-face {
    font-family: "華康明w5";
    src: url("font/DFMingStd-W5.otf") ;
}
@font-face {
    font-family: "華康明w7";
    src: url("font/DFMingStd-W7.otf") ;
}
@font-face {
    font-family: "華康明w9";
    src: url("font/DFMingStd-W9.otf") ;
}
@font-face {
    font-family: "Fruitger LT 45 Light";
    src: url("font/Frutiger LT 45 Light.ttf") ;
}
@font-face {
    font-family: "Fruitger LT 46 Light Italic";
    src: url("font/Frutiger LT 46 Light Italic.ttf") ;
}
@font-face {
    font-family: "Fruitger LT 55 Roman";
    src: url("font/Frutiger LT 55 Roman.ttf") ;
}
@font-face {
    font-family: "Fruitger LT 56 Italic";
    src: url("font/Frutiger LT 56 Italic.ttf") ;
}
@font-face {
    font-family: "Fruitger LT 75 Black";
    src: url("font/Frutiger LT 75 Black.ttf") ;
}
@font-face {
    font-family: "Fruitger LT 76 Black Italic";
    src: url("font/Frutiger LT 76 Black Italic.ttf") ;
}
@font-face {
    font-family: "Futura Book";
    src: url("font/Futura_Book-Normal_Regular.ttf") ;
}
@font-face {
    font-family: "Futura Extended";
    src: url("font/FuturaExtended.ttf") ;
}
@font-face {
    font-family: "Futuran";
    src: url("font/FUTURAN.TTF") ;
}
@font-face {
    font-family: "Futura Oblique";
    src: url("font/Futura Oblique.ttf") ;
}
@font-face {
    font-family: "華康儷宋";
    src: url("font/DFLiSongStd-W7.otf") ;
}
@font-face {
    font-family: "Frutiger LT 87 Extra Black";
    src: url("font/Frutiger LT 87 Extra Black Condensed.ttf") ;
}
@font-face {
    font-family: "georgia";
    src: url("font/georgia.ttf") ;
}
@font-face {
    font-family: "小塚 Pr6N bold";
    src: url("font/KozGoPr6N-Bold.otf") ;
}
@font-face {
    font-family: "小塚 Pr6N extraLight";
    src: url("font/KozGoPr6N-ExtraLight.otf") ;
}
@font-face {
    font-family: "小塚 Pr6N heavy";
    src: url("font/KozGoPr6N-Heavy.otf") ;
}
@font-face {
    font-family: "小塚 Pr6N light";
    src: url("font/KozGoPr6N-Light.otf") ;
}
@font-face {
    font-family: "小塚 Pr6N medium";
    src: url("font/KozGoPr6N-Medium.otf") ;
}
@font-face {
    font-family: "小塚 Pr6N regular";
    src: url("font/KozGoPr6N-Regular.otf") ;
}
@font-face {
    font-family: "franklin gothic medium";
    src: url("font/FRAMDCN.TTF") ;
}
@font-face {
    font-family: "franklin gothic demi";
    src: url("font/FRADM.TTF") ;
}
@font-face {
    font-family: "Candara";
    src: url("font/Candara.ttf") ;
}
