#help_layout {
    background-color: white;
    z-index: 0;
}

#help_layout li {
    list-style-type: none
}

.help_book_tag {
    position: absolute;
    height: 30px;
    display: none;
    z-index: 2;
}

.help_book_tag_bar {
    position: absolute;
    height: 30px;
}

#fastju01_tag {
    top: 9.771%;
    left: -0.2%;
    z-index: 5;
}

#fastju02_tag {
    top: 18.321%;
    left: 0.6%;
    z-index: 5;
}

#fastju03_tag {
    top: 26.374%;
    left: 1.1%;
    z-index: 5;
}
#helpbook_tag_area li:hover .help_book_tag_bar {
    display: none;
}

#helpbook_basic_function_tag {
    top: 9.771%;
    left: -14.9%;
}

#helpbook_tag_area li:hover .help_book_tag {
    display: block;
}

#helpbook_create_a_account_tag {
    top: 18.321%;
    left: -15%;
}

#helpbook_for_member_tag {
    top: 26.374%;
    left: -15%;
}

#helpbook_cover {
    background-color: #D0BCD8;
    border-radius: 10px 10px 10px 10px;
    height: 91.7%;
    left: 9.5%;
    position: relative;
    top: 5%;
    width: 87.5%;
    z-index: 1;
}

#helpbook_back_cover {
    background-color: #A775B0;
    position: absolute;
    width: 6%;
    height: 100%;
    margin-left: 47%;
    z-index: 2;
}

.helpbook_inner_flip_page {
    position: absolute;
    width: 45%;
    height: 95.11%;
    background-color: white;
}

.helpbook_inner_wrapper {
    position: absolute;
    height: 95.11%;
    top: 3.25%;
}

#pag-ba-l {
    margin-left: 3%;
}

#pag-ba-r {
    margin-left: 95.3%;
}

.helpbook_flip_icon {
    position: absolute;
    top: 47%;
    width: 2.5%;
}

#helpbook_nep_icon {
    left: 101%;
}

#helpbbok_prep_icon {
    left: -4%;
}

#help_book_wrapper {
    background-color: white;
    height: 95.5%;
    left: 5%;
    position: absolute;
    top: 3%;
    width: 90%;
    z-index: 10;
}

#help_book_wrapper img {
    width: 100%;
}

#help_book_wrapper .turn-page.odd {
    border-left: 2px solid black;
}

a.help_download {
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    height: 54%;
    left: 15%;
    position: absolute;
    top: 26%;
    width: 70%;
}

div.help_download {
    height: 100%;
    width: 100%;
}
