#member li {
    list-style-type: none;
}

#member .design_template {
    display: block;
    height: auto;
    left: 7px;
    top: -16px;
    width: 100%;
}

#member_layout {
    position: absolute;
}

.member_wrapper {
    position: absolute;
    width: 660px;
    height: 690px;
}

#member {
    position: absolute;
}

#member .comming_soon {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.member_function_content_wrapper {
    display: none;
}

.member_function_content_wrapper.selected {
    display: block;
}

.member_function_content {
    position: absolute;
    width: 79.37%;
    height: 100%;
    background-color: white;
    color: black;
    margin-left: 20.635%;
    left: 30px;
}

#member .orbk {
    width: 15px;
    margin-top: 4px;
    z-index: -1;
}

#member .member_list_icon {
    width: 120px;
}

#member #div_member_user_photo_s {
    top: 4%;
    left: 29.5%;
    height: 64.5%;
    position: absolute;
}

#member .member_user_photo_s {
    height: 100%;
}

.member_funcion_list {
    position: absolute;
    width: 20.635%;
    height: 100%;
    background-color: black;
    left: 30px;
}

#member_function_setting {
    position: absolute;
    top: 15.57%;
    margin-left: -11%;
}

#member_function_inform {
    position: absolute;
    top: 29.57%;
    margin-left: -11%;
}

#member_function_calender {
    position: absolute;
    top: 43.57%;
    margin-left: -11%;
}

#member_function_newpost {
    position: absolute;
    top: 57.57%;
    margin-left: -11%;
}

#member_function_record {
    position: absolute;
    top: 71.57%;
    margin-left: -11%;
}

.member_function_button {
    position: absolute;
}

.member_function_button.selected, .member_funcion_list:hover .member_function_button2.selected .member_function_button.selected {
    display: none;
}

.member_function_button, .member_function_button2.selected .member_function_button.selected, .member_function_button2:hover .member_function_button.selected, .member_funcion_list .member_function_button2.selected:hover .member_function_button.selected {
    display: block;
}

.member_funciton_setting, .member_function_inform, .memer_function_clender, .member_function_newpost, .member_function_recordd {
    position: absolute;
    width: 100%;
    height: 100%;
}

#member_up {/*220*/
    height: 27.5%;
}

#member_div_user_photo {
    left: 8.24%;
    position: absolute;
    top: 4.5%;
    width: 27%;
}
#member_div_user_photo img {
    width: 100%;
}
#member_div_user_photo .user_name {
    font-size: 2em;
    position: absolute;
    right: -107%;
    top: 30%;
    white-space: nowrap;
    text-align: left;
}

#member_setting .rating {
    font-family: "franklin gothic demi";
    height: 3%;
    left: 37.5%;
    position: absolute;
    top: 18.07%;
    width: 23%;
}
#member_setting .rating_text {
    bottom: -140%;
    display: block;
    left: 0;
    position: absolute;
    white-space: nowrap;
}

#member_down {/*470*/
    height: 71.5%;
    position: relative;
}
#member_list {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 53%;
    top: 2%;
}
#member_list li {
    font-family: "future book bt";
    font-size: 1.1em;
    list-style: none outside none;
    margin: 9.5% 4% 0 0;
    text-align: right;
    position: relative;
}
#member_list .member_certificate {
    margin-top: 61%;
    right: 5%;
}

#member_list_form {
    height: 100%;
    left: 36%;
    padding: 0;
    position: absolute;
    top: 1%;
    width: 50%;
}
#member_list_form li {
    font-family: "future book bt";
    font-size: 1.5em;
    height: 7%;
    list-style: none outside none;
    margin-top: 2.7%;
}

li#member_certificate {
    margin-top: 39%;
    position: relative;
}

#member_list_form .inputs2 {
    width: 100%;
    height: 24px;
}
#member_address {
    vertical-align: top;
    width: 100%;
    height: 72px;
    resize: none;
}
#member_certificate img {
    width: 12%;
}
#member_div_phone_certificate > img {
    width: 8%;
    vertical-align: text-bottom;
}

#member_setting li.submit {
    bottom: 24%;
    height: 6%;
    margin: 0;
    position: absolute;
    right: -3%;
    width: 29%;
}

#member_setting button {
    background-color: #0098DE;
    border: 0 none;
    color: white;
    font-size: 0.75em;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100%;
    border-radius: 5%;
    display: block;
}
#member_certificate div {
    display: inline;
    font-family: "future book bt";
    font-size: 14pt;
    margin: 0 12% 0 0;
}
#member_file {
    opacity: 0;
    position: absolute;
    bottom: 1%;
    border: 1px solid red;
    width: 98%;
}

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

#member_setting_mask {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
#member_setting_mask1 {
    position: fixed;
    display: none;
    width: 500px;
    height: 500px;
    background-color: rgba(0,0,0,0.9);
    top: 10%;
    left: -5%;
    z-index: 101;
    color: white;
}
#member_setting_div_preview {
    position: absolute;
    left: 25%;
    top: 25%;
}

.jcrop-holder {
    display: inline-block;
}

/*new post*/
#member_newpost {
    height: 690px;
    width: 485px;
    position: relative;
}

#member_newpost p.chars {
    position: relative;
    top: 23px;
    text-align: right;
    margin: 0px 1px 0 1px;
    width: 188px;
}

#preview {
    top: 110px;
}

#member_newpost_content input {
    min-width: 265px;
    max-width: 265px;
    position: absolute;
    left: 195px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#member_newpost_content select {
    min-width: 265px;
    max-width: 265px;
    position: absolute;
    left: 195px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#member_newpost_content textarea {
    position: absolute;
    left: 195px;
    min-width: 265px;
    max-width: 265px;
    min-height: 100px;
    max-height: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    resize: none;
}

#preview_pic_brw {
    background: none repeat scroll 0 0 #F0AC1A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 165px;
    left: 197px;
    position: absolute;
    top: 500px;
    width: 265px;
}

#preview_pic_brw p {
    text-align: center;
    position: relative;
    top: 70px;
    color: #FFFFFF;
    z-index: 0;
}
#preview_pic_brw:hover p {
    z-index: 2;
}

#new_movement_photo {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1
}

#preview_info {
    width: 265px;
    height: 40px;
    background: #090a07;
    position: absolute;
    left: 197px;
    top: 625px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#summit {
    position: absolute;
    width: 90px;
    left: 25px;
    top: 630px;
}

#info_title {
    position: absolute;
    top: -15px;
    right: 15px;
    color: #FFFFFF;
}
#info_location {
    width: 12px;
}

#info_date {
    position: absolute;
    top: 0px;
    left: 5px;
    color: #FFFFFF;
}

#info_rigth {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #FFFFFF;
}
#info_where {
    position: absolute;
    color: #FFFFFF;
}
/*new post*/

/*record*/

.member_record_wrapper {
    position: absolute;
    height: 130px;
    width: 130px;
    background-color: #EFB81C;
}

#member_record p {
    position: absolute;
    color: #979E9F;
    font-size: 1.1em;
    top: 11%;
    left: 8%;
}

#record_join {
    top: 16.85%;
    left: 7.777%;
}

#record_support {
    top: 16.85%;
    left: 38%;
}

#record_donate {
    top: 16.85%;
    left: 68.223%;
}

#record_post {
    top: 38.5891%;
    left: 7.77%;
}

#record_article {
    top: 38.5891%;
    left: 38%;
}

#record_reply {
    top: 38.5891%;
    left: 68.223%;
}

#record_times {
    top: 60.33%;
    left: 7.77%;
}

.member_record_wrapper span {
    position: absolute;
    font-size: 1.1em;
    font-family: "Franklin Gothic Demi";
    color: white;
    top: 76%;
    left: 30%;
    z-index: 2;
}

#record_support span {
    position: absolute;
    left: 24%;
}

#record_article span {
    position: absolute;
    left: 25%;
}

#record_donate span {
    position: absolute;
    left: 25%;
}

.record_sign {
    position: absolute;
    width: 23%;
    margin: 73% 0 0 72%;
}
/*record*/
