#new_post{
height:690px;
width:485px;
border:1px solid;
position:relative;
}

p.chars{
position:relative;
top:23px;
text-align:right;
margin:0px 1px 0 1px;
width:188px;
}

#preview{
top:110px;
}

#new_post_content input{
min-width:265px;
max-width:265px;
position:absolute;
left:195px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#new_post_content select{
min-width:265px;
max-width:265px;
position:absolute;
left:195px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#new_post_content textarea{
position:absolute;
left:195px;
min-width:265px;
max-width:265px;
min-height:100px;
max-height:100px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
resize:none;
}

#preview_pic_brw{
width:265px;
height:175px;
background:#f0ac1a;
position:absolute;
left:197px;
top:450px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;

#border:5px solid red;
}

#preview_pic_brw p{
text-align:center;
position:relative;
top:70px;
color:#FFFFFF;

}

#preview_info{
width:265px;
height:40px;
background:#090a07;
position:absolute;
left:197px;
top:625px;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
#border:5px solid red;
}

#new_summit{
position:absolute;
width:90px;
left:25px;
top:630px;
}

#info_title{
position:absolute;
top:-15px;
right:15px;
color:#FFFFFF;
}
#info_location{
width:12px;
}

#info_date{
position:absolute;
top:0px;
left:5px;
color:#FFFFFF;
}

#info_rigth{
position:absolute;
top:12px;
right:12px;
color:#FFFFFF;
}
#info_where{
position:absolute;
color:#FFFFFF;

}
